/.metadata/
/.gradle
*.class
/build
/.gradle
/.gradle/8.11.1
/.gradle/8.11.1/fileHashes
/build/
/.settings
.project
/.vscode
/.settings/org.eclipse.buildship.core.prefs
*.bin
*.bin
*.lock
/img/upload/*
/img/download/*
bin/main/static/img/upload/0a2bd431-7c22-47b0-8873-4c78fbfe0186_캡처.JPG3.JPG
.gradle/buildOutputCleanup/cache.properties
.gradle/8.11.1/executionHistory/executionHistory.lock
.gradle/buildOutputCleanup/cache.properties
