<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >

<head>
    <title>Member Join Page</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <b>회원가입</b>
                </div>
                <div class="card-body">
                    <form id="registerForm" action="/member/join" method="post">
        <!-- MEM_ID -->
        <label for="MEM_ID">아이디:</label>
        <input type="text" id="MEM_ID" name="MEM_ID" required /><br/><br/>

        <!-- MEM_PW -->
        <label for="MEM_PW">비밀번호:</label>
        <input type="password" id="MEM_PW" name="MEM_PW" required /><br/><br/>

        <!-- MEM_NAME -->
        <label for="MEM_NAME">이름:</label>
        <input type="text" id="MEM_NAME" name="MEM_NAME" required /><br/><br/>

        <!-- MEM_NICKNAME -->
        <label for="MEM_NICKNAME">닉네임:</label>
        <input type="text" id="MEM_NICKNAME" name="MEM_NICKNAME" required /><br/><br/>

        <!-- MEM_EXERCISE (Radio Buttons) -->
        <label>운동 종목:</label><br/>
        <input type="radio" id="soccer" name="MEM_EXERCISE" value="축구" />
        <label for="soccer">축구</label><br/>
        <input type="radio" id="baseball" name="MEM_EXERCISE" value="야구" />
        <label for="baseball">야구</label><br/>
        <input type="radio" id="pilates" name="MEM_EXERCISE" value="필라테스" />
        <label for="pilates">필라테스</label><br/><br/>

        <!-- MEM_CLUB (Radio Buttons) -->
        <label>클럽 종류:</label><br/>
        <input type="radio" id="diet" name="MEM_CLUB" value="다이어트" />
        <label for="diet">다이어트</label><br/>
        <input type="radio" id="fitnessClub" name="MEM_CLUB" value="운동클럽" />
        <label for="fitnessClub">운동클럽</label><br/><br/>

        <!-- MEM_PICTURE (File Input) -->
        <label for="MEM_PICTURE">프로필 사진:</label>
        <input type="file" id="MEM_PICTURE" name="MEM_PICTURE" accept="image/*" /><br/><br/>

        <!-- MEM_INTRODUCTION -->
        <label for="MEM_INTRODUCTION">자기소개:</label><br/>
        <textarea id="MEM_INTRODUCTION" name="MEM_INTRODUCTION" rows="4" cols="50"></textarea><br/><br/>

        <!-- MEM_GENDER (Radio Buttons) -->
        <label>성별:</label><br/>
        <input type="radio" id="male" name="MEM_GENDER" value="true" />
        <label for="male">남성</label><br/>
        <input type="radio" id="female" name="MEM_GENDER" value="false" />
        <label for="female">여성</label><br/><br/>

        <!-- MEM_TELL -->
        <label for="MEM_TELL">전화번호:</label>
        <input type="tel" id="MEM_TELL" name="MEM_TELL" placeholder="01012345678" maxlength="11" required /><br/><br/>

        <!-- MEM_EMAIL -->
        <label for="MEM_EMAIL">이메일:</label>
        <input type="email" id="MEM_EMAIL" name="MEM_EMAIL" required /><br/><br/>

        <!-- MEM_BIRTHDAY -->
        <label for="MEM_BIRTHDAY">생년월일:</label>
        <input type="date" id="MEM_BIRTHDAY" name="MEM_BIRTHDAY" /><br/><br/>

        <!-- MEM_ADDRESS -->
        <label for="MEM_ADDRESS">주소:</label>
        <input type="text" id="MEM_ADDRESS" name="MEM_ADDRESS" required /><br/><br/>

        <!-- MEM_ZIPCODE -->
        <label for="MEM_ZIPCODE">우편번호:</label>
        <input type="text" id="MEM_ZIPCODE" name="MEM_ZIPCODE" required /><br/><br/>

        <!-- MEM_ISMANAGER (Radio Buttons) -->
        <label>관리자 여부:</label><br/>
        <input type="radio" id="managerYes" name="MEM_ISMANAGER" value="true" />
        <label for="managerYes">예</label><br/>
        <input type="radio" id="managerNo" name="MEM_ISMANAGER" value="false" />
        <label for="managerNo">아니오</label><br/><br/>

        <!-- Submit Button -->
        <button type="submit">회원가입</button>
    </form>
                </div><!--end card body-->

            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->
    
</div>

<script layout:fragment="script" th:inline="javascript">
	const error = /*[[${error}]]*/'';
	
	if(error){
		alert("동일한 아이디를 가진 회원이 존재합니다.");
	}
</script>








