<!DOCTYPE html>
<html lang="ko-KR" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<!-- meta_tag include -->
<head th:insert="~{layouts/meta_tag :: headMeta}"></head>
<title></title>

<!-- 공통 css -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.3/litera/bootstrap.min.css"
	integrity="sha512-TUtnNUXMMWp2IALAR9t2z1vuorOUQL4dPWG3J9ANInEj6xu/rz5fzni/faoEGzuqeY1Z1yGD6COYAW72oiDVYA=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" th:href="@{/css/common.css}">

<!-- 여기에 본인 css 작성해주세요 (detail_hj.css) -->
<!-- Linking CSS files -->
<link rel="stylesheet" th:href="@{/css/detail_hj.css}" />

<!-- 공통 js -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
	crossorigin="anonymous"></script>

</head>
<body>
	<div th:insert="~{layouts/header :: header}"></div>
	<main class="main container reservation_pg" id="mypage_pg">
		<div class="sidebar">
			<div class="header">
				<h2 style="font-size: 20px;">마이페이지</h2>
				<!-- <button class="btn btn-danger" onclick="location.href='/member/logout'">로그아웃</button> -->
			</div>

			<div class="btn_wrap header">
				<a href="/member/mypage" class="">나의정보</a> <a
					href="/member/reservation" class="active">나의시설예약</a> <a href="#">운동캘린더</a>
			</div>
			<div style="align-items: center;">
					<div
						style="cursor:pointer; display: inline-flex; gap: 5px; margin: 10px 0; justify-content: space-between; width: 100%;">
						<p style="font-size: 16px; font-weight: bold; margin: 0;">FITPAY</p>
						<p
							style="font-size: 16px; font-weight: bold; color: #333; margin: 0;">
							<span th:text="${#authentication.principal.memMoney}"></span>원
						</p>
					</div>
					<div style="display: inline-flex; gap: 5px; width:100%">
						<button class="btn btn-primary" style="width:50%">충전</button>
						<button class="btn btn-success" style="width:50%">내역</button>
					</div>
				</div>
		</div>

		<div class="main">
			<ul>
				<li th:each="reservation : ${reservations}"
					style="margin-bottom: 20px; padding: 10px; border: 1px solid #ddd; border-radius: 10px; background-color: #f9f9f9;">
					<p>
						<strong>시설명:</strong> <span th:text="${reservation.facilityName}"
							style="text-decoration: underline; cursor: pointer;"
							th:onclick="|location.href='@{/facility/detail/{facilityCode}(facilityCode=${reservation.facilityCode})}'|"></span>
					</p>
					<p>
						<strong>예약 코드:</strong> <span
							th:text="${reservation.reservationCode}"></span>
					</p>
					<p>
						<strong>이용 날짜:</strong> <span
							th:text="${reservation.reservationDate}"></span>
					</p>
					<p>
						<strong>예약 시간:</strong> <span
							th:text="${reservation.reservationStartTime}"></span> - <span
							th:text="${reservation.reservationEndTime}"></span>
					</p>
					<p>
						<strong>예약 요청일:</strong> <span id="formatted-date"></span>
						<script>
							const createDate = /*[[${reservation.CREATEDATE}]]*/"2025-01-13T16:30:24";
							const formattedDate = createDate.replace("T", " "); // T를 공백으로 변경
							document.querySelector('#formatted-date').innerText = formattedDate;
						</script>
					</p>

					<p>
						<strong>인원:</strong> <span th:text="${reservation.count}"></span>명
					</p>
					<p>
						<strong>금액:</strong> <span th:text="${reservation.price}"></span>원
					</p>
					<p>
						<strong>예약 상태:</strong>  <span th:text="${reservation.reservationProgress}" 
          th:classappend="'status-' + reservation.reservationProgress"></span>
					</p>
					
				</li>


			</ul>


		</div>
	</main>

	<div th:insert="~{layouts/footer :: footer}"></div>
</body>
</html>