@charset "UTF-8";
:root[data-seed] {
    color-scheme:light dark
}

:root[data-seed=light-only] {
    color-scheme:light
}

:root[data-seed=dark-only] {
    color-scheme:dark
}

:root[data-seed] {
    --seed-color-palette-static-black: #000;
    --seed-color-palette-static-black-alpha-500: #00000080;
    --seed-color-palette-static-white: #fff;
    --seed-color-palette-static-white-alpha-200: #ffffff33;
    --seed-spacing-0\.5: .125rem;
    --seed-spacing-1: .25rem;
    --seed-spacing-1\.5: .375rem;
    --seed-spacing-2: .5rem;
    --seed-spacing-2\.5: .625rem;
    --seed-spacing-3: .75rem;
    --seed-spacing-3\.5: .875rem;
    --seed-spacing-4: 1rem;
    --seed-spacing-5: 1.25rem;
    --seed-spacing-6: 1.5rem;
    --seed-spacing-7: 1.75rem;
    --seed-spacing-8: 2rem;
    --seed-spacing-10: 2.5rem;
    --seed-spacing-11: 2.75rem;
    --seed-spacing-12: 3rem;
    --seed-spacing-16: 4rem;
    --seed-spacing-20: 5rem;
    --seed-spacing-24: 6rem;
    --seed-spacing-32: 8rem;
    --seed-size-0\.5: .125rem;
    --seed-size-1: .25rem;
    --seed-size-1\.5: .375rem;
    --seed-size-2: .5rem;
    --seed-size-2\.5: .625rem;
    --seed-size-3: .75rem;
    --seed-size-3\.5: .875rem;
    --seed-size-4: 1rem;
    --seed-size-5: 1.25rem;
    --seed-size-6: 1.5rem;
    --seed-size-7: 1.75rem;
    --seed-size-8: 2rem;
    --seed-size-10: 2.5rem;
    --seed-size-12: 3rem;
    --seed-size-16: 4rem;
    --seed-size-20: 5rem;
    --seed-size-24: 6rem;
    --seed-size-32: 8rem;
    --seed-radii-0\.5: .125rem;
    --seed-radii-1: .25rem;
    --seed-radii-1\.5: .375rem;
    --seed-radii-2: .5rem;
    --seed-radii-2\.5: .625rem;
    --seed-radii-3: .75rem;
    --seed-radii-3\.5: .875rem;
    --seed-radii-4: 1rem;
    --seed-radii-5: 1.25rem;
    --seed-radii-6: 1.5rem;
    --seed-radii-7: 1.75rem;
    --seed-radii-8: 2rem;
    --seed-radii-10: 2.5rem;
    --seed-radii-12: 3rem;
    --seed-radii-16: 4rem;
    --seed-radii-20: 5rem;
    --seed-radii-24: 6rem;
    --seed-radii-32: 8rem;
    --seed-radii-full: 9999px;
    --seed-border-width-1: 1px;
    --seed-heading-line-height-xsmall: 1.125rem;
    --seed-heading-line-height-small: 1.375rem;
    --seed-heading-line-height-medium: 1.75rem;
    --seed-heading-line-height-large: 2rem;
    --seed-heading-line-height-xlarge: 2.275rem;
    --seed-body-line-height-xxsmall: 1rem;
    --seed-body-line-height-xsmall: 1.125rem;
    --seed-body-line-height-small: 1.25rem;
    --seed-body-line-height-medium: 1.5rem;
    --seed-body-line-height-large: 1.875rem;
    --seed-font-weight-regular: 400;
    --seed-font-weight-semibold: 600;
    --seed-font-weight-bold: 700;
    --seed-font-size-50: .688rem;
    --seed-font-size-75: .75rem;
    --seed-font-size-100: .875rem;
    --seed-font-size-200: 1rem;
    --seed-font-size-300: 1.25rem;
    --seed-font-size-400: 1.5rem;
    --seed-font-size-500: 1.75rem;
    --seed-uniform-height-small: 1.5rem;
    --seed-uniform-height-medium: 2rem;
    --seed-uniform-height-large: 2.5rem;
    --seed-timing-function-linear: cubic-bezier(0, 0, 1, 1);
    --seed-timing-function-standard: cubic-bezier(.35, 0, .35, 1);
    --seed-timing-function-enter: cubic-bezier(.03, .4, .1, 1);
    --seed-timing-function-exit: cubic-bezier(.35, 0, .95, .55);
    --seed-duration-1: 50ms;
    --seed-duration-2: .1s;
    --seed-duration-3: .15s;
    --seed-duration-4: .2s;
    --seed-duration-5: .25s;
    --seed-duration-6: .3s;
    --seed-duration-7: .35s;
    --seed-duration-8: .4s;
    --seed-duration-9: .45s;
    --seed-duration-10:.5s
}

:root[data-seed]:not([data-seed=dark-only]) [data-seed-scale-color=light], :root[data-seed][data-seed-scale-color=light]:not([data-seed=dark-only]), :root[data-seed][data-seed=light-only][data-seed-scale-color=dark] {
    --seed-color-palette-gray-00-rgb: 255, 255, 255;
    --seed-color-palette-gray-00: rgb(var(--seed-color-palette-gray-00-rgb));
    --seed-color-palette-gray-50: #f7f8fa;
    --seed-color-palette-gray-100: #f2f3f6;
    --seed-color-palette-gray-200: #eaebee;
    --seed-color-palette-gray-300: #dcdee3;
    --seed-color-palette-gray-400: #d1d3d8;
    --seed-color-palette-gray-500: #adb1ba;
    --seed-color-palette-gray-600: #868b94;
    --seed-color-palette-gray-700: #4d5159;
    --seed-color-palette-gray-800: #393a40;
    --seed-color-palette-gray-900-rgb: 33, 33, 36;
    --seed-color-palette-gray-900: rgb(var(--seed-color-palette-gray-900-rgb));
    --seed-color-palette-carrot-50-rgb: 255, 245, 240;
    --seed-color-palette-carrot-50: rgb(var(--seed-color-palette-carrot-50-rgb));
    --seed-color-palette-carrot-100: #ffe2d2;
    --seed-color-palette-carrot-200: #ffd2b9;
    --seed-color-palette-carrot-300: #ffbc97;
    --seed-color-palette-carrot-400: #ff9e66;
    --seed-color-palette-carrot-500: #ff6f0f;
    --seed-color-palette-carrot-600: #fa6616;
    --seed-color-palette-carrot-700: #f05705;
    --seed-color-palette-carrot-800: #cc4700;
    --seed-color-palette-carrot-900: #b44104;
    --seed-color-palette-carrot-950: #a03a03;
    --seed-color-palette-blue-50: #ebf7fa;
    --seed-color-palette-blue-100: #d2edfa;
    --seed-color-palette-blue-200: #b9e3fa;
    --seed-color-palette-blue-300: #87d7ff;
    --seed-color-palette-blue-400: #57c7ff;
    --seed-color-palette-blue-500: #009ceb;
    --seed-color-palette-blue-600: #08c;
    --seed-color-palette-blue-700: #0077b2;
    --seed-color-palette-blue-800: #006199;
    --seed-color-palette-blue-900: #004c73;
    --seed-color-palette-blue-950: #003b59;
    --seed-color-palette-red-50: #fff3f2;
    --seed-color-palette-red-100: #ffe5e3;
    --seed-color-palette-red-200: #fcd2cf;
    --seed-color-palette-red-300: #ffaca6;
    --seed-color-palette-red-400: #ff7e75;
    --seed-color-palette-red-500: #ff4133;
    --seed-color-palette-red-600: #fa2314;
    --seed-color-palette-red-700: #e81607;
    --seed-color-palette-red-800: #a62014;
    --seed-color-palette-red-900: #910c00;
    --seed-color-palette-red-950: #821006;
    --seed-color-palette-green-50: #e8faf6;
    --seed-color-palette-green-100: #c7f2e4;
    --seed-color-palette-green-200: #96ebc3;
    --seed-color-palette-green-300: #6adeac;
    --seed-color-palette-green-400: #30c795;
    --seed-color-palette-green-500: #1aa174;
    --seed-color-palette-green-600: #128c6e;
    --seed-color-palette-green-700: #077a5e;
    --seed-color-palette-green-800: #06614a;
    --seed-color-palette-green-900: #004f40;
    --seed-color-palette-green-950: #004034;
    --seed-color-palette-yellow-50: #fff7e6;
    --seed-color-palette-yellow-100: #ffe3ba;
    --seed-color-palette-yellow-200: #facc87;
    --seed-color-palette-yellow-300: #f7be68;
    --seed-color-palette-yellow-400: #dea651;
    --seed-color-palette-yellow-500: #c27f29;
    --seed-color-palette-yellow-600: #a66c21;
    --seed-color-palette-yellow-700: #805217;
    --seed-color-palette-yellow-800: #6b4717;
    --seed-color-palette-yellow-900: #593d17;
    --seed-color-palette-yellow-950: #4d361a;
    --seed-color-palette-pink-50: #fff5f5;
    --seed-color-palette-pink-100: #ffdddb;
    --seed-color-palette-pink-200: #ffbfc5;
    --seed-color-palette-pink-300: #ffadb4;
    --seed-color-palette-pink-400: #ff8a9d;
    --seed-color-palette-pink-500: #f0657c;
    --seed-color-palette-pink-600: #db4b6a;
    --seed-color-palette-pink-700: #bd2b5c;
    --seed-color-palette-pink-800: #991c45;
    --seed-color-palette-pink-900: #800d3d;
    --seed-color-palette-pink-950: #660a30;
    --seed-color-palette-purple-50: #f6f4fe;
    --seed-color-palette-purple-100: #e3dafe;
    --seed-color-palette-purple-200: #d5c7ff;
    --seed-color-palette-purple-300: #cfbfff;
    --seed-color-palette-purple-400: #b69eff;
    --seed-color-palette-purple-500: #9675fa;
    --seed-color-palette-purple-600: #8361e8;
    --seed-color-palette-purple-700: #6748c7;
    --seed-color-palette-purple-800: #4f3699;
    --seed-color-palette-purple-900: #3f2687;
    --seed-color-palette-purple-950: #331e70;
    --seed-color-palette-gray-alpha-50: #0017580d;
    --seed-color-palette-gray-alpha-100: #15234e1a;
    --seed-color-palette-gray-alpha-200: #19233e33;
    --seed-color-palette-gray-alpha-500: #282e4080;
    --seed-color-palette-carrot-alpha-50: #ff6f0f0d;
    --seed-color-palette-carrot-alpha-100: #ff6f0f24;
    --seed-color-palette-carrot-alpha-200: #ff6f0f33;
    --seed-color-palette-blue-alpha-50: #009ceb0d;
    --seed-color-palette-blue-alpha-100: #009ceb1a;
    --seed-color-palette-blue-alpha-200: #009ceb33;
    --seed-color-palette-red-alpha-50: #ff41330d;
    --seed-color-palette-red-alpha-100: #ff41331a;
    --seed-color-palette-red-alpha-200: #ff413333;
    --seed-color-palette-yellow-alpha-50: #f7be6814;
    --seed-color-palette-yellow-alpha-100: #f7be6824;
    --seed-color-palette-yellow-alpha-200: #f7be683d;
    --seed-color-palette-green-alpha-50: #1aa1740d;
    --seed-color-palette-green-alpha-100: #1aa17424;
    --seed-color-palette-green-alpha-200: #1aa17433;
    --seed-gradient-solid: var(--seed-color-bg-layer-default) 0%, hsla(0, 0%, 100%, .98) 4.7%, hsla(0, 0%, 100%, .96) 8.9%, hsla(0, 0%, 100%, .93) 12.8%, hsla(0, 0%, 100%, .9) 16.56%, hsla(0, 0%, 100%, .86) 20.37%, hsla(0, 0%, 100%, .82) 24.4%, hsla(0, 0%, 100%, .77) 28.83%, hsla(0, 0%, 100%, .71) 33.84%, hsla(0, 0%, 100%, .65) 39.6%, hsla(0, 0%, 100%, .57) 46.3%, hsla(0, 0%, 100%, .48) 54.1%, hsla(0, 0%, 100%, .38) 63.2%, hsla(0, 0%, 100%, .27) 73.76%, hsla(0, 0%, 100%, .14) 85.97%, hsla(0, 0%, 100%, 0) 100%;
    --seed-box-shadow-default: 0px 2px 12px 0px rgba(0, 0, 0, .1);
    --seed-box-shadow-strong: 0px 0px 2px 0px rgba(0, 0, 0, .1), 0px 4px 6px 0px rgba(0, 0, 0, .15);
    --seed-color-bg-brand-emphasis-hover: var(--seed-color-palette-carrot-400);
    --seed-color-bg-brand-emphasis-pressed: var(--seed-color-palette-carrot-400);
    --seed-color-bg-brand-emphasis: var(--seed-color-palette-carrot-500);
    --seed-color-bg-brand-hover: var(--seed-color-palette-carrot-alpha-200);
    --seed-color-bg-brand-pressed: var(--seed-color-palette-carrot-alpha-200);
    --seed-color-bg-brand: var(--seed-color-palette-carrot-alpha-100);
    --seed-color-bg-danger-emphasis: var(--seed-color-palette-red-600);
    --seed-color-bg-danger: var(--seed-color-palette-red-alpha-50);
    --seed-color-bg-layer-default-hover: var(--seed-color-palette-gray-100);
    --seed-color-bg-layer-default-pressed: var(--seed-color-palette-gray-100);
    --seed-color-bg-layer-default-rgb: var(--seed-color-palette-gray-00-rgb);
    --seed-color-bg-layer-default: rgb(var(--seed-color-bg-layer-default-rgb));
    --seed-color-bg-layer-elevated: var(--seed-color-palette-gray-00);
    --seed-color-bg-layer-elevated-hover: var(--seed-color-palette-gray-100);
    --seed-color-bg-layer-elevated-pressed: var(--seed-color-palette-gray-100);
    --seed-color-bg-neutral-inverted-rgb: var(--seed-color-palette-gray-900-rgb);
    --seed-color-bg-neutral-inverted: var(--seed-color-palette-gray-900);
    --seed-color-bg-neutral-inverted-hover: var(--seed-color-palette-gray-800);
    --seed-color-bg-neutral: var(--seed-color-palette-gray-100);
    --seed-color-bg-neutral-hover: var(--seed-color-palette-gray-200);
    --seed-color-bg-neutral-pressed: var(--seed-color-palette-gray-300);
    --seed-color-bg-success-emphasis: var(--seed-color-palette-green-500);
    --seed-color-bg-success: var(--seed-color-palette-green-alpha-50);
    --seed-color-bg-text-selection: var(--seed-color-palette-carrot-50);
    --seed-color-bg-warning-emphasis: var(--seed-color-palette-yellow-400);
    --seed-color-bg-warning: var(--seed-color-palette-yellow-alpha-100);
    --seed-color-bg-disabled: var(--seed-color-palette-gray-300);
    --seed-color-bg-overlay-default: var(--seed-color-palette-gray-alpha-200);
    --seed-color-fg-brand: var(--seed-color-palette-carrot-500);
    --seed-color-fg-brand-hover: var(--seed-color-palette-carrot-400);
    --seed-color-fg-danger: var(--seed-color-palette-red-600);
    --seed-color-fg-neutral-muted: var(--seed-color-palette-gray-700);
    --seed-color-fg-neutral-subtle: var(--seed-color-palette-gray-600);
    --seed-color-fg-neutral: var(--seed-color-palette-gray-900);
    --seed-color-fg-neutral-inverted: var(--seed-color-palette-static-white);
    --seed-color-fg-neutral-hover: var(--seed-color-palette-gray-600);
    --seed-color-fg-neutral-pressed: var(--seed-color-palette-gray-600);
    --seed-color-fg-on-emphasis: var(--seed-color-palette-static-white);
    --seed-color-fg-placeholder: var(--seed-color-palette-gray-500);
    --seed-color-fg-success: var(--seed-color-palette-green-500);
    --seed-color-fg-warning: var(--seed-color-palette-yellow-950);
    --seed-color-fg-disabled: var(--seed-color-palette-gray-500);
    --seed-color-stroke-brand: var(--seed-color-palette-carrot-400);
    --seed-color-stroke-decorative-subtle: var(--seed-color-palette-gray-alpha-50);
    --seed-color-stroke-progress-background: var(--seed-color-palette-gray-200);
    --seed-color-stroke-decorative: var(--seed-color-palette-gray-300);
    --seed-color-stroke-control: var(--seed-color-palette-gray-300);
    --seed-color-stroke-field-focused: var(--seed-color-palette-gray-700);
    --seed-color-stroke-field:var(--seed-color-palette-gray-400)
}

:root[data-seed]:not([data-seed=light-only]) [data-seed-scale-color=dark], :root[data-seed][data-seed-scale-color=dark]:not([data-seed=light-only]), :root[data-seed][data-seed=dark-only][data-seed-scale-color=light] {
    --seed-color-palette-gray-00: #17171a;
    --seed-color-palette-gray-50-rgb: 33, 33, 36;
    --seed-color-palette-gray-50: rgb(var(--seed-color-palette-gray-50-rgb));
    --seed-color-palette-gray-100: #2b2e33;
    --seed-color-palette-gray-200: #34373d;
    --seed-color-palette-gray-300: #43474f;
    --seed-color-palette-gray-400: #50545c;
    --seed-color-palette-gray-500: #6d717a;
    --seed-color-palette-gray-600: #868b94;
    --seed-color-palette-gray-700: #adb1ba;
    --seed-color-palette-gray-800: #ced3de;
    --seed-color-palette-gray-900-rgb: 234, 235, 238;
    --seed-color-palette-gray-900: rgb(var(--seed-color-palette-gray-900-rgb));
    --seed-color-palette-carrot-50-rgb: 122, 56, 20;
    --seed-color-palette-carrot-50: rgb(var(--seed-color-palette-carrot-50-rgb));
    --seed-color-palette-carrot-100: #974011;
    --seed-color-palette-carrot-200: #bf4c0d;
    --seed-color-palette-carrot-300: #d15715;
    --seed-color-palette-carrot-400: #e96017;
    --seed-color-palette-carrot-500: #ff6e1d;
    --seed-color-palette-carrot-600: #ee9561;
    --seed-color-palette-carrot-700: #edb08e;
    --seed-color-palette-carrot-800: #edc4ad;
    --seed-color-palette-carrot-900: #edd3c4;
    --seed-color-palette-carrot-950: #ede4e0;
    --seed-color-palette-blue-50: #09405c;
    --seed-color-palette-blue-100: #0a4969;
    --seed-color-palette-blue-200: #065d8f;
    --seed-color-palette-blue-300: #0772a8;
    --seed-color-palette-blue-400: #0685c4;
    --seed-color-palette-blue-500: #079ae3;
    --seed-color-palette-blue-600: #5ec4f7;
    --seed-color-palette-blue-700: #8bd3f7;
    --seed-color-palette-blue-800: #a8d7f0;
    --seed-color-palette-blue-900: #c4e4f5;
    --seed-color-palette-blue-950: #d7f3fa;
    --seed-color-palette-red-50: #78130a;
    --seed-color-palette-red-100: #870f04;
    --seed-color-palette-red-200: #9e2419;
    --seed-color-palette-red-300: #e01e10;
    --seed-color-palette-red-400: #f2291b;
    --seed-color-palette-red-500: #f74639;
    --seed-color-palette-red-600: #f78279;
    --seed-color-palette-red-700: #f5a59f;
    --seed-color-palette-red-800: #f5c5c1;
    --seed-color-palette-red-900: #f5d7d5;
    --seed-color-palette-red-950: #f7e5e4;
    --seed-color-palette-green-50: #053b31;
    --seed-color-palette-green-100: #044a3d;
    --seed-color-palette-green-200: #085945;
    --seed-color-palette-green-300: #0b755b;
    --seed-color-palette-green-400: #158569;
    --seed-color-palette-green-500: #1e9c72;
    --seed-color-palette-green-600: #34bf91;
    --seed-color-palette-green-700: #6dd6a9;
    --seed-color-palette-green-800: #98e3c0;
    --seed-color-palette-green-900: #caede1;
    --seed-color-palette-green-950: #d8ede8;
    --seed-color-palette-yellow-50: #40301b;
    --seed-color-palette-yellow-100: #543a18;
    --seed-color-palette-yellow-200: #664416;
    --seed-color-palette-yellow-300: #80541c;
    --seed-color-palette-yellow-400: #a16c27;
    --seed-color-palette-yellow-500: #bd7f2f;
    --seed-color-palette-yellow-600: #d4a257;
    --seed-color-palette-yellow-700: #f0bb6c;
    --seed-color-palette-yellow-800: #f7cb88;
    --seed-color-palette-yellow-900: #fae0b9;
    --seed-color-palette-yellow-950: #ede7da;
    --seed-color-palette-pink-50: #52102c;
    --seed-color-palette-pink-100: #730f39;
    --seed-color-palette-pink-200: #912449;
    --seed-color-palette-pink-300: #b2305c;
    --seed-color-palette-pink-400: #d14f6c;
    --seed-color-palette-pink-500: #e56a7e;
    --seed-color-palette-pink-600: #fa91a2;
    --seed-color-palette-pink-700: #faafb5;
    --seed-color-palette-pink-800: #fac0c5;
    --seed-color-palette-pink-900: #f5dbda;
    --seed-color-palette-pink-950: #f2e4e4;
    --seed-color-palette-purple-50: #3c2a70;
    --seed-color-palette-purple-100: #463080;
    --seed-color-palette-purple-200: #553d99;
    --seed-color-palette-purple-300: #694cc2;
    --seed-color-palette-purple-400: #8667e0;
    --seed-color-palette-purple-500: #987af0;
    --seed-color-palette-purple-600: #b19bf2;
    --seed-color-palette-purple-700: #ccbff5;
    --seed-color-palette-purple-800: #d6cafa;
    --seed-color-palette-purple-900: #e3dcfa;
    --seed-color-palette-purple-950: #dad8e3;
    --seed-color-palette-gray-alpha-50: #ffffff0d;
    --seed-color-palette-gray-alpha-100: #ffffff1a;
    --seed-color-palette-gray-alpha-200: #ffffff33;
    --seed-color-palette-gray-alpha-500: #ffffff80;
    --seed-color-palette-carrot-alpha-50: #ff6e1d14;
    --seed-color-palette-carrot-alpha-100: #ff6e1d24;
    --seed-color-palette-carrot-alpha-200: #ff6e1d33;
    --seed-color-palette-blue-alpha-50: #079ae30d;
    --seed-color-palette-blue-alpha-100: #079ae31a;
    --seed-color-palette-blue-alpha-200: #079ae333;
    --seed-color-palette-red-alpha-50: #f746390d;
    --seed-color-palette-red-alpha-100: #f746391a;
    --seed-color-palette-red-alpha-200: #f7463933;
    --seed-color-palette-yellow-alpha-50: #f0bb6c14;
    --seed-color-palette-yellow-alpha-100: #f0bb6c24;
    --seed-color-palette-yellow-alpha-200: #f0bb6c3d;
    --seed-color-palette-green-alpha-50: #1e9c720d;
    --seed-color-palette-green-alpha-100: #1e9c7224;
    --seed-color-palette-green-alpha-200: #1e9c7233;
    --seed-gradient-solid: var(--seed-color-bg-layer-default) 0%, rgba(33, 33, 36, .98) 4.7%, rgba(33, 33, 36, .96) 8.9%, rgba(33, 33, 36, .93) 12.8%, rgba(33, 33, 36, .9) 16.56%, rgba(33, 33, 36, .86) 20.37%, rgba(33, 33, 36, .82) 24.4%, rgba(33, 33, 36, .77) 28.83%, rgba(33, 33, 36, .71) 33.84%, rgba(33, 33, 36, .65) 39.6%, rgba(33, 33, 36, .57) 46.3%, rgba(33, 33, 36, .48) 54.1%, rgba(33, 33, 36, .38) 63.2%, rgba(33, 33, 36, .27) 73.76%, rgba(33, 33, 36, .14) 85.97%, rgba(33, 33, 36, 0) 100%;
    --seed-box-shadow-default: 0px 2px 12px 0px rgba(0, 0, 0, .1);
    --seed-box-shadow-strong: 0px 0px 2px 0px rgba(0, 0, 0, .1), 0px 4px 6px 0px rgba(0, 0, 0, .15);
    --seed-color-bg-brand-emphasis-hover: var(--seed-color-palette-carrot-600);
    --seed-color-bg-brand-emphasis-pressed: var(--seed-color-palette-carrot-600);
    --seed-color-bg-brand-emphasis: var(--seed-color-palette-carrot-500);
    --seed-color-bg-brand-hover: var(--seed-color-palette-carrot-alpha-100);
    --seed-color-bg-brand-pressed: var(--seed-color-palette-carrot-alpha-100);
    --seed-color-bg-brand: var(--seed-color-palette-carrot-alpha-50);
    --seed-color-bg-danger-emphasis: var(--seed-color-palette-red-400);
    --seed-color-bg-danger: var(--seed-color-palette-red-alpha-50);
    --seed-color-bg-layer-default-hover: var(--seed-color-palette-gray-100);
    --seed-color-bg-layer-default-pressed: var(--seed-color-palette-gray-100);
    --seed-color-bg-layer-default-rgb: var(--seed-color-palette-gray-50-rgb);
    --seed-color-bg-layer-default: rgb(var(--seed-color-bg-layer-default-rgb));
    --seed-color-bg-layer-elevated: var(--seed-color-palette-gray-100);
    --seed-color-bg-layer-elevated-hover: var(--seed-color-palette-gray-200);
    --seed-color-bg-layer-elevated-pressed: var(--seed-color-palette-gray-200);
    --seed-color-bg-neutral-inverted-rgb: var(--seed-color-palette-gray-900-rgb);
    --seed-color-bg-neutral-inverted: var(--seed-color-palette-gray-900);
    --seed-color-bg-neutral-inverted-hover: var(--seed-color-palette-gray-800);
    --seed-color-bg-neutral: var(--seed-color-palette-gray-100);
    --seed-color-bg-neutral-hover: var(--seed-color-palette-gray-200);
    --seed-color-bg-neutral-pressed: var(--seed-color-palette-gray-300);
    --seed-color-bg-success-emphasis: var(--seed-color-palette-green-500);
    --seed-color-bg-success: var(--seed-color-palette-green-alpha-50);
    --seed-color-bg-text-selection: var(--seed-color-palette-carrot-50);
    --seed-color-bg-warning-emphasis: var(--seed-color-palette-yellow-700);
    --seed-color-bg-warning: var(--seed-color-palette-yellow-alpha-50);
    --seed-color-bg-disabled: var(--seed-color-palette-gray-300);
    --seed-color-bg-overlay-default: var(--seed-color-palette-static-black-alpha-500);
    --seed-color-fg-brand: var(--seed-color-palette-carrot-500);
    --seed-color-fg-brand-hover: var(--seed-color-palette-carrot-400);
    --seed-color-fg-danger: var(--seed-color-palette-red-400);
    --seed-color-fg-neutral-muted: var(--seed-color-palette-gray-700);
    --seed-color-fg-neutral-subtle: var(--seed-color-palette-gray-600);
    --seed-color-fg-neutral: var(--seed-color-palette-gray-900);
    --seed-color-fg-neutral-inverted: var(--seed-color-palette-gray-50);
    --seed-color-fg-neutral-hover: var(--seed-color-palette-gray-600);
    --seed-color-fg-neutral-pressed: var(--seed-color-palette-gray-600);
    --seed-color-fg-on-emphasis: var(--seed-color-palette-static-white);
    --seed-color-fg-placeholder: var(--seed-color-palette-gray-500);
    --seed-color-fg-success: var(--seed-color-palette-green-500);
    --seed-color-fg-warning: var(--seed-color-palette-yellow-950);
    --seed-color-fg-disabled: var(--seed-color-palette-gray-500);
    --seed-color-stroke-brand: var(--seed-color-palette-carrot-400);
    --seed-color-stroke-progress-background: var(--seed-color-palette-gray-200);
    --seed-color-stroke-decorative-subtle: var(--seed-color-palette-gray-alpha-50);
    --seed-color-stroke-decorative: var(--seed-color-palette-gray-alpha-200);
    --seed-color-stroke-control: var(--seed-color-palette-gray-300);
    --seed-color-stroke-field-focused: var(--seed-color-palette-gray-700);
    --seed-color-stroke-field:var(--seed-color-palette-gray-400)
}

@keyframes seed-enter {
    0% {
        opacity: var(--seed-enter-opacity, 1);
        transform:translate3d(var(--seed-enter-translate-x, 0), var(--seed-enter-translate-y, 0), 0) scale3d(var(--seed-enter-scale, 1), var(--seed-enter-scale, 1), var(--seed-enter-scale, 1)) rotate(var(--seed-enter-rotate, 0))
    }
}

@keyframes seed-exit {
    to {
        opacity: var(--seed-exit-opacity, 1);
        transform: translate3d(var(--seed-exit-translate-x, 0), var(--seed-exit-translate-y, 0), 0) scale3d(var(--seed-exit-scale, 1), var(--seed-exit-scale, 1), var(--seed-exit-scale, 1)) rotate(var(--seed-exit-rotate, 0))
    }
}
/*# sourceMappingURL=https://warp-static.daangn.com/hec22jupig83mkc2f25bqpjq/_remix/_assets/global-JAQUD6HZ.css.map */
